@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 10px;
    background-color: #1C1C1C;
}

a{
    text-decoration: none;
}

/* NAVBAR */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: #0e0e0e;
    padding: 0px 30px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 45px;
    font-size: 1.4rem;
    font-weight: 300;
}

nav ul a{
    color: #fff;
}

nav p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
}

#home{
    background: hsla(0, 0%, 40%, 1);
    background: radial-gradient(circle, hsla(0, 0%, 40%, 1) 0%, hsla(0, 0%, 23%, 1) 50%, hsla(0, 0%, 11%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(0, 0%, 40%, 1) 0%, hsla(0, 0%, 23%, 1) 50%, hsla(0, 0%, 11%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(0, 0%, 40%, 1) 0%, hsla(0, 0%, 23%, 1) 50%, hsla(0, 0%, 11%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#676767", endColorstr="#3B3B3B", GradientType=1 );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 255px;
    height: 100vh;
    width: 100%;
}

#home .text-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #fff;
}

#home .text-area h1{
    font-size: 3.4rem;
    font-weight: 700;
}

#home .text-area p{
    font-size: 2rem;
    margin-top: -15px;
    font-weight: 200;
}

#home .text-area .btns{
        margin-top: 25px;
}

#home .text-area .btns a{
    background-color: #FF7900;
    padding: 10px 40px;
    border-radius: 55px;
    color: #fff;
    font-size: 1.3rem;
    margin: 0px 5px;
}

#home .text-area .social-area{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.7rem;
    margin-top: 100px;
}

#home .text-area .social-area a{
    color: #FF7900;
}

#home .home-img{
    background-color: #FF7900;
    border-radius: 50%;
}

#about{
    background-color: #FF7900;
    height: 100vh;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}




@media screen and (max-width: 905px) {
    nav ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   nav ul a{
    font-size: 1rem;
    justify-content: center;
   }

   nav p{
    display: none;
   }
   
   
    #home{
    display: flex;
    flex-direction: column;
    gap: 0px;
   }

   #home .text-area h1{
    font-size: 2.3rem;
   }

   #home .text-area p{
    font-size: 1.4rem;
   }

   #home .text-area .btns a{
    background-color: #FF7900;
    padding: 5px 20px;
    border-radius: 55px;
    color: #fff;
    font-size: 0.9rem;
    margin: 0px 5px;
}

    #home .social-area a{
        font-size: 1.4rem;
    }

    #home .home-img, img{
        height: 200px;
        width: 200px;
    }
}